.goods-count {
  font-size: 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .minus,
  .plus {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    position: relative;
  }
  .minus {
    margin-right: 12.5px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><line x1='4' y1='10' x2='16' y2='10' stroke='black' stroke-width='2'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .plus {
    margin-left: 12.5px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><line x1='10' y1='4' x2='10' y2='16' stroke='black' stroke-width='2'/><line x1='4' y1='10' x2='16' y2='10' stroke='black' stroke-width='2'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
